<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список групп</title>
</head>
<body>
    <h1>Список групп</h1>

    <hr/>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

    <table>
        <thead>
        <tr>
            <th>Номер группы</th>
            <th>Степень</th>
            <th>Курс</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groupGet}">
            <td>
                <a style="text-decoration: none;" th:href="@{/groups/{groupId}(groupId=${group.getId()})}"
                   th:text="${group.getName()}">Группа</a>
            </td>
            <td th:text="${group.getDegree()}"></td>
            <td th:text="${group.getCourse()}"></td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: center;">
                <a href="/groups/new">Добавить группу</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>