<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группа</title>
</head>
<body>
    <div>
        <table th:each="group : ${groupGet}">
            <tr>
                <td><b>Номер группы: </b></td>
                <td th:text="${group.getName()}"></td>
            </tr>
            <tr>
                <td><b>Степень: </b></td>
                <td th:text="${group.getDegree()}"></td>
            </tr>
            <tr>
                <td><b>Курс: </b></td>
                <td th:text="${group.getCourse()}"></td>
            </tr>
        </table>
    </div>

    <hr/>

    <form th:method="GET" th:action="@{/groups/{groupId}/edit(groupId=${groupGet.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>

    <br/>

    <form th:method="DELETE" th:action="@{/groups/{groupId}(groupId=${groupGet.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</body>
</html>