<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>

    <div>
        <span>Фильтрация студентов по группам: </span>
        <form th:method="GET" th:action="@{/students/all}">
            <label for="groupName">Выберите номер группы</label>
            <select id="groupName" name="groupName">
                <option value="">Все группы</option>
                <option th:each="group : ${groupGet}" th:value="${group.getName()}"
                        th:text="${group.getName()}"></option>
            </select>
            <input type="submit" value="Применить фильтр"/>
        </form>
    </div>

    <hr/>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Статус</th>
                <th>Тип финансирования</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${studentGet}">
                <td>
                    <a style="text-decoration: none;" th:href="@{/students/{studentId}(studentId=${student.getId()})}"
                       th:text="${student.getFullName()}">Студент</a>
                </td>
                <td th:text="${student.getGenderText()}"></td>
                <td th:text="${student.getStatusText()}"></td>
                <td th:text="${student.getFundingTypeText()}"></td>
                <td th:text="${student.getGroupName()}"></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;">
                    <a href="/students/new">Добавить студента</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>