<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>

    <div>
        <span>Фильтрация студентов по группам: </span>
        <form th:method="GET" th:action="@{/students/all}">
            <label for="groupName">Выберите номер группы</label>
            <select id="groupName" name="groupName">
                <option value="">Все группы</option>
                <option th:each="group : ${groupGet}" th:value="${group.getName()}"
                        th:text="${group.getName()}"></option>
            </select>
            <input type="submit" value="Применить фильтр"/>
        </form>
    </div>

    <hr/>

    <div th:each="student : ${studentGet}">
        <a th:href="@{/students/{studentId}(studentId=${student.getId()})}"
            th:text="${student.getFullName() + ', ' + student.getGroupName()}">Студент</a>
    </div>

    <hr/>

    <a href="/students/new">Добавить студента</a>
</body>
</html>